**Hello world**

In [ ]:
print("hello world")

hello

**practice**

In [ ]:
print('풍선')
print("나비")
print("ㅗ"*399)

In [5]:
n = 10
for i in range(n):
    print(" "*(n-i), "*"*i)

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********

In [8]:
# 참/거짓
print (5>10)
print (not False)
print (not (5>10))

False
True
True

In [ ]:
#애완동물을 소개해주세요
animal='지렁이'
name= '설이'
age= 8
hobby = '고구마'
is_adult= age>= 9
tmp = '김지유'+'바보'

print(tmp)
print ('우리집 ' + animal + '의 이름은 ' + name + '에요')
hobby = '낮잠'
print (name ,'는 ' + str(age)+'살이며, '+hobby+'를 좋아해요')
print ('설이는 어른일까요?', is_adult)

김지유바보
우리집 지렁이의 이름은 설이에요
설이 는 8살이며, 낮잠를 좋아해요
설이는 어른일까요? False

변수명은 ' 필요없음.'는 문자열(글자)을 감쌀 때 사용.   
변수에서 `+`는 문자열을 연결할 때 쓰는 더하기같은 연산자, `,`는 구분짓기 위한 것->실행하면 띄어쓰기됨,`,`일때는 str 안붙여도 됨.   
숫자를 문자로 바꿀 때 `str(숫자)`, 문자를 숫자로 바꿀 때 `int(숫자로 된 문자=따옴표 안에 숫자)`, 따옴표 있으면 무조건 문자취급.`#`은 한줄주석처리(컨트롤/) ,여러문장은 주석처리할 땐 `'''`

In [ ]:
#퀴즈1
station='사당'
# station='신도림'
# station='인천공항'
print (station ,'행 열차가 들어오고 있습니다.')

사당 행 열차가 들어오고 있습니다.

In [36]:
#연산자
print (2**3) #2^3=8

print (5%3) #나머지 구하기 2
print (5//3) #몫 구하기 1

print (10>3) # True
print (3 == 3) #3은 3과 같습니까? True
print (3==2) #False
print (1 != 3) #1은 3이랑 다릅니까? True
print (not(1 != 3)) #False

print( (3>2) and (3<6)) #둘 다 T여야 True , and == &
print((3<2) or (5>3)) # 둘 중 하나만 맞아도 True , or == |

# number = number + 2    ==   number += 2
number=15
print (number) #15
number += 3 # == 'number = number+3'
print(number) #18
number -= 3 #15
print(number)
number *= 4 #60
print(number)
number /= 4 #15
print(number)
number %= 4 #3
print(number)
number //= 3 #1
print(number)

8
2
1
True
True
False
True
False
True
True
15
18
15
60
15.0
3.0
1.0

`=` 는 변수에 값을 대입할 때 , `==`는 같다

# 숫자처리함수

In [2]:
print(abs(-3)) # 절댓값 3
print(pow(4,2)) # 4^2 == 4**2  16
print(max(5,32)) #최댓값 32
print(min(5,32)) #최솟값 5
print(round(3.15)) # 반올림 3
print(round(4.99)) # 반올림 5

from math import *
print(floor(3.94)) #내림 3
print(ceil(4.22)) #올림 5
print(sqrt(16)) #제곱근 4

3
16
32
5
3
5
3
5
4.0

# 랜덤함수

In [ ]:
from random import *

print(random()) #0.0~1.0 사이(미만)의 실수 임의의 값 생성
print(random()*10) #0.0~10.0 미만의 임의의 실수 생성
print(int(random()*10)) #0~10 미만의 임의의 정수 생성 
print(int(random()*10)+1) #1~10 이하의 임의의 정수 생성

print(int(random()*45)+1) #1~45이하의 임의의 값 생성
print(randrange(1,46)) #1~46미만의 임의의 값 생성
print(randint(1,45)) #1~45이하의 임의의 값 생성

0.8863135193304154
6.927644336796281
4
6
18
22

`int` 는 정수로 값을 바꿔줌
- `"123" -> 123`
- `3.99 -> 3`   
         이하:양끝값 포함, 미만:양끝값 미포함

# Quiz2

In [19]:
from random import *
number= int(random()*26+3)

print('오프라인 스터디 모임 날짜는 매월', number ,'일로 선정되었습니다.')


number= randint(4,28)

print('오프라인 스터디 모임 날짜는 매월', number ,'일로 선정되었습니다.')

오프라인 스터디 모임 날짜는 매월 12 일로 선정되었습니다.
오프라인 스터디 모임 날짜는 매월 14 일로 선정되었습니다.